<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="VRMS.Properties.Settings.strMySQL" connectionString="Server=Localhost;Database=VRMS;Username=root;Password=root"/>
    <add name="VRMSConnect" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\Downloads\Google Drive\Users\CuongTrX\Source\Repos\VRMS\VRMS\App_Data\VRMS.mdf&quot;;Integrated Security=True"/>
  </connectionStrings>
  <startup>

    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
